# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# --- Logs ---
logs/
*.log
*.tmp

# --- Environment Files ---
.env
.env.local
.env.*.local

# --- Build Output ---
dist/
build/
out/
coverage
.temp/

# --- Cache ---
.cache/
.next/
.nuxt/
vite.config.ts.timestamp*
*.tsbuildinfo

# --- VS Code ---
.vscode/
.history/
*.code-workspace

# --- OS Files ---
.DS_Store
Thumbs.db

# --- Temp Files ---
*.swp
*.swo

# --- Optional (Ignore testing folders) ---
/coverage/